### Import Libraries and Dependencies

In [1]:
# Import libraries and dependencies
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

# For time stamps
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

### Read in CSV as Pandas DataFrame

In [2]:
tsla_data = pd.read_csv(
    Path("../resources/technical_indicator_data.csv"),
    index_col="Date",
    parse_dates=True, 
    infer_datetime_format=True
)

tsla_data.tail()

,Open,High,Low,Close,Adj Close,Volume,SMA50,SMA100,SMA_Signal,SMA_Entry/Exit,BB_UPPER,BB_MIDDLE,BB_LOWER,BB_Signal,Signal,BB_Entry/Exit,EMA50,EMA100,EMA_Signal,EMA_Entry/Exit
Date,,,,,,,,,,,,,,,,,,,,
2022-05-27,723.250000,759.799988,720.530029,759.630005,759.630005,29765000,909.515197,908.520997,1.0,1.0,949.794758,766.040500,582.286241,0.0,NaN,0.0,844.711211,885.825845,0.0,0.0
2022-05-31,773.840027,778.799988,734.229980,758.260010,758.260010,33971500,906.572596,905.222397,1.0,0.0,930.889209,758.806500,586.723792,0.0,NaN,0.0,841.320968,883.299789,0.0,0.0
2022-06-01,755.159973,771.979980,730.919983,740.369995,740.369995,25749300,902.956797,901.979097,1.0,0.0,907.266637,750.362500,593.458363,0.0,NaN,0.0,837.362106,880.469496,0.0,0.0
2022-06-02,732.469971,792.630005,726.200012,775.000000,775.000000,31157700,898.577197,899.459498,0.0,-1.0,867.188999,741.481500,615.774002,0.0,NaN,0.0,834.916533,878.380991,0.0,0.0
2022-06-03,729.679993,743.390015,700.250000,703.549988,703.549988,37348100,892.665997,895.913798,0.0,0.0,843.199416,732.994998,622.790580,0.0,NaN,0.0,829.764904,874.918991,0.0,0.0

### Set X-Variable List and Filter to Obtain Associated Values

In [4]:
# Set x variable list of features
x_var_list = ['SMA_Signal', 'BB_Signal', 'EMA_Signal']

# Filter by x-variable list
tsla_data[x_var_list].tail()

            SMA_Signal  BB_Signal  EMA_Signal
Date
2022-05-27         1.0        0.0         0.0
2022-05-31         1.0        0.0         0.0
2022-06-01         1.0        0.0         0.0
2022-06-02         0.0        0.0         0.0
2022-06-03         0.0        0.0         0.0

### Shift the DataFrame Index by 1

In [7]:
# Shift DataFrame values by 1 (this is so we can have a predictor as to whether or not it's a buy or sell)

tsla_data[x_var_list] = tsla_data[x_var_list].shift(1)
tsla_data[x_var_list].tail()

            SMA_Signal  BB_Signal  EMA_Signal
Date
2022-05-27         0.0        0.0         0.0
2022-05-31         0.0        0.0         0.0
2022-06-01         0.0        0.0         0.0
2022-06-02         1.0        0.0         0.0
2022-06-03         1.0        0.0         0.0

### Drop NAs and Replace Infs (Positive/Negative Infinity)

In [9]:
# Drop NAs and replace positive/negative infinity values - because of the moving averages

tsla_data.dropna(subset=x_var_list, inplace=True)
tsla_data.dropna(subset=['daily_return'], inplace=True)
tsla_data = tsla_data.replace([np.inf, -np.inf], np.nan)
tsla_data.head()

KeyError: ['daily_return']